{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Saving Account Manager{% endblock %}</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="topbar">
        <div class="left-section">
            <a href="{% url 'dashboard' %}" class="app-name">Saving Account Manager</a>
            <a href="{% url 'saving_accounts' %}" class="nav-button">Savings</a>
        </div>

        <div class="right-section">
            {% if user.is_authenticated %}
                {{ user.email }}
            {% else %}
                <a href="{% url 'account_login' %}" class="nav-login">Login</a>
            {% endif %}
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>